/*	BOX 
//////////////////////////////////////////////////////////////////////////////*/

// boxes add padding, margin and borders to content
//
// Styleguide 2.1.3.
.box {
	outline: 1px solid;
	margin-bottom: $spacing-m;
}

.box-xs {
	padding: $spacing-xs;
}

.box-s {
	padding: $spacing-s;
}

.box-m {
	padding: $spacing-m;
}

.box-l {
	padding: $spacing-l;
}

.box-xl {
	padding: $spacing-xl;
}

.box-xxl {
	padding: $spacing-xxl;
}