/*	MODULE 
//////////////////////////////////////////////////////////////////////////////*/

// modules alter the text size

.module {
	max-width: 30em;
}

.module-s {
	font-size: #{1 / $scale}em;
}

.module-l {
	font-size: #{$scale}em;
}

.module-xl {
	font-size: #{$scale*$scale}em;
}

.module-xxl {
	font-size: #{$scale*$scale*$scale}em;
}