/*	GENERIC 
//////////////////////////////////////////////////////////////////////////////*/

html {
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex]:not([tabindex='-1']) {
  touch-action: manipulation;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

*:not(input) {
  border: 0;
  margin: 0;
  padding: 0;
}

[tabindex='-1']:focus {
  outline: none !important;
}

*:focus:not(:focus-visible) {
  outline: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    scroll-behavior: auto !important;
    transition: none !important;
  }
}
