/*	LINKS 
//////////////////////////////////////////////////////////////////////////////*/

a {
    color: inherit;
    stext-decoration: none;
    sdisplay: inline-block;
    sbackground-image: linear-gradient(
        to top,
        currentColor,
        currentColor 1px,
        transparent 1px
    );
    &:link {
    }
    &:visited {
    }
    &:hover {
    }
    &:active {
        transform: translateY(1px);
    }
}
