/*	MEDIA 
//////////////////////////////////////////////////////////////////////////////*/

img,
video {
  height: auto;
  max-width: 100%;
}


audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: bottom;
}