////////////////////////////////////////////////////////////////////////////////
//  
//	PROJECT TITLE                                         
//
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
//	0 SETTINGS
////////////////////////////////////////////////////////////////////////////////
@import "0_settings/variables";
@import "0_settings/functions";
@import "0_settings/mixins";

/*//////////////////////////////////////////////////////////////////////////////
//	1 BASE
//////////////////////////////////////////////////////////////////////////////*/

@import "1_base/generic";
@import "1_base/typography";
@import "1_base/spacing";
@import "1_base/forms";
@import "1_base/tables";
@import "1_base/lists";
@import "1_base/links";
@import "1_base/media";
@import "1_base/helpers";

/*//////////////////////////////////////////////////////////////////////////////
//	2 SECTIONS
//////////////////////////////////////////////////////////////////////////////*/

@import "2_sections/header";
@import "2_sections/navigation";
@import "2_sections/main";
@import "2_sections/sidebar";
@import "2_sections/footer";

/*//////////////////////////////////////////////////////////////////////////////
//	3 COMPONENTS
//////////////////////////////////////////////////////////////////////////////*/

@import "3_components/branding";
@import "3_components/box";
@import "3_components/module";
// add needed components

/*//////////////////////////////////////////////////////////////////////////////
//	4 LAYOUTS
//////////////////////////////////////////////////////////////////////////////*/

@import "4_layouts/default";
@import "4_layouts/media-print";
// add needed views
////////////////////////////////////////////////////////////////////////////////
//	TEMPORARY STYLES
////////////////////////////////////////////////////////////////////////////////
// outline elements with class-names starting with "site-"
section {
    padding-bottom: $spacing-m;
    border-bottom: 1px solid;
}


/*

[class^="site-"] {
	position: relative;
	outline: 1px solid;
    &:after {
    	position: absolute;
    	top: 0;
    	right: 0;
    	display: block;
    	content: attr(class);
    	font-family: $font-family-code;
    }
} */